<ion-view view-title="Login" name="login-view">
  <ion-content class="padding">
    <div style="text-align: center">
      <img src="./img/Gobble_logo.png" alt=""/>
    </div>

    <form name="adminLoginForm" ng-submit="login(adminLoginForm.$valid)" novalidate>

      <div class="list list-inset">
          <label class="item item-input">
              <!-- <input type="text" placeholder="Username" ng-model="admin.username"> -->
              <input name="username" type="text" placeholder="Username" ng-model="admin.username" required=""/>
          </label>
          <label class="item item-input">
              <!-- <input type="password" placeholder="Password" ng-model="admin.password"> -->
              <input type="password" name="password" placeholder="Password" ng-model="admin.password" required=""/>
          </label>
      </div>

      <div class="row">
        <div class="col" style="text-align:center;">
          <button type="submit" ui-sref="profile" class="button button-outline button-positive" style="width: 100%;">
            Login
          </button>
        </div>
        <div class="col" style="text-align:center;">
          <button ui-sref="home" class="button button-outline button-positive" ng-click="login()" style="width: 100%;">
            Back
          </button>
        </div>
      </div>

    </form>
      <div class="ngAnim-collapse-height" ng-if="admin.error">
            Username or Password incorrect.
          </div>
  </ion-content>
</ion-view>
