<ion-view>
  <ion-header-bar>
    <div style="width: 100%; height: 100%; text-align: center;" ui-sref="profile">
      <img src="./img/Gobble_banner.png" style="height: 100%;">
      </img>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="item in cart" can-swipe="listCanSwipe" swipe-direction="both">
        {{item}}
        <ion-option-button class="button-info" ng-click="remove(item)" side="right">
          Remove
        </ion-option-button>
      </ion-item>
    </ion-list>

    <!--Button footer bar-->
    <ion-footer-bar style="text-align: center;">
      <div class="row">
        <div class="col" style="text-align:center;">
          <button ng-click="showAlert()" class="button button-outline button-positive icon ion-ios-camera" style="width: 100%;">
          </button>
        </div>
        <div class="col" style="text-align:center;">
          <button ng-click="checkout()" class="button button-outline button-positive" style="width: 100%; margin: auto;" >
            Checkout
          </button>
        </div>
      </div>
    </ion-footer-bar>
  </ion-content>
</ion-view>
