<ion-view view-title="{{chat.name}}">
  <ion-content>
	<div class="padding">
    <div class="align--center">
  		<h1 style="text-align: center">About Us</h1>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.
    </p>
    <p>
      Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna
    </p>
    <p>
      Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.
    </p>

    <div class="card">
<div class="item item-text-wrap">
  <img class="about-us__img--developer-profile-pic" src="https://randomuser.me/api/portraits/men/23.jpg"/>
  <h3>Mike Evans</h3>
  <p>
    You see? It's curious. Ted did figure it out - time travel. And when we get back, we gonna tell everyone. How it's possible, how it's done, what the dangers are. But then why fifty years in the future when the spacecraft encounters a black hole does the computer call it an 'unknown entry event'? Why don't they know?
  </p>

</div>
</div>

    <div class="card">
<div class="item item-text-wrap">
  <img class="about-us__img--developer-profile-pic" src="https://randomuser.me/api/portraits/men/27.jpg"/>
  <h3>Wayne Huang</h3>
  <p>
  Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it?
</p>
</div>
</div>

    <div class="card">
<div class="item item-text-wrap">
  <img class="about-us__img--developer-profile-pic" src="https://randomuser.me/api/portraits/men/40.jpg"/>
  <p>
  <h3>Kuziwa Sachikonye</h3>
  <p>
    Yeah, I like animals better than people sometimes... Especially dogs. Dogs are the best. Every time you come home, they act like they haven't seen you in a year. And the good thing about dogs... is they got different dogs for different people.
    <a href="www.sach.co.za"> www.sach.co.za</a>
  </p>
</div>
</div>
	</div>
</ion-content>
</ion-view>
