<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Carryovers Tab -->
  <ion-tab title="Carry Overs" icon-off="ion-social-apple-outline" icon-on="ion-social-apple" href="#/store/carryovers">
    <ion-nav-view name="store-carryovers"></ion-nav-view>
  </ion-tab>

  <!-- Shopping List Tab -->
  <ion-tab title="Shopping List" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/store/shoppingList">
    <ion-nav-view name="store-shoppingList"></ion-nav-view>
  </ion-tab>

  <!-- Shopping Cart Tab -->
  <ion-tab title="Shopping Cart" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/store/shoppingCart">
    <ion-nav-view name="store-shoppingCart"></ion-nav-view>
  </ion-tab>

</ion-tabs>
