<ion-view view-title="Recommendations" name="login-view">
  <ion-header-bar>
    <div style="width: 100%; height: 100%; text-align: center;" ui-sref="profile">
      <img src="./img/Gobble_banner.png" style="height: 100%;">
      </img>
    </div>
  </ion-header-bar>
    <ion-content class="padding">

      <h3 style="text-align:center; color: rgb(241,119,0); font-size: 20pt; font-weight: bold">FOOD RECOMMENDATIONS</h3>
      <h4 style="text-align:center; color: rgba(0,63,136,0.8); font-weight: bold">What should I eat?</h4>
      <div style ="background-color: rgba(170, 212, 80,0.4)" class="card">
  <div style ="background-color: rgba(170, 212, 80,0.4)" class="item item-text-wrap">
    <h4 style="text-align: center">Hey! You're Omega 3 levels are likely to be low! Here are some suggested foods to balance this out</h4>
  </div>
</div>


<div style="padding-top:20px">
  <div class="item item-divider">
Omega 3 Rich Foods
</div>
    <ion-list>
        <ion-item ng-repeat="item in omega3Foods" can-swipe="listCanSwipe" swipe-direction="both">
            {{item}}
            <ion-option-button class="button-info" ng-click="remove(item)" side="right">
                Remove
            </ion-option-button>
        </ion-item>
    </ion-list>
</div>

<div style="padding-top:20px">
    <ion-list>
        <ion-item ng-repeat="item in otherFoods" can-swipe="listCanSwipe" swipe-direction="both">
            {{item}}
            <ion-option-button class="button-info" ng-click="remove(item)" side="right">
                Remove
            </ion-option-button>
        </ion-item>
    </ion-list>
</div>

</ion-content>
</ion-view>
