<ion-view>
  <ion-header-bar>
    <div style="width: 100%; height: 100%; text-align: center;" ui-sref="profile">
      <img src="./img/Gobble_banner.png" style="height: 100%;">
      </img>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="item in fridge">
        <input type="checkbox" ng-model="item.checked">
          {{item.name}}
      </ion-item>
    </ion-list>

    <!--Button footer bar-->
    <ion-footer-bar style="text-align: center;">
      <div class="row">
        <div class="col" style="text-align:center;">
          <button ng-click="carry()" class="button button-outline button-positive" style="width: 50%; margin: auto;">
            Carry Over
          </button>
        </div>
      </div>
    </ion-footer-bar>
  </ion-content>
</ion-view>
