<ion-view view-title="profile" name="profile-view">
  <ion-content class="padding">

    <br>

    <div style="text-align:center; padding:5px;">
      <img ng-src="{{imageUrl}}" height="200" ui-sref="preferences" style="border-radius: 50%; border-width:5px;
  border-style:solid;
  border-color:#ff9900;">
    </div>

    <br>
    <!-- <h1 style="text-align:center"><strong>Welcome,</strong></h1>
    <h2 style="text-align:center"><strong>{{username}}</strong></h2> -->

    <div style="justify-content: center"class="row">
<h4 style="color: rgba(0,63,136,0.8); font-size: 30pt; font-size: 50px; font-weight: bold; letter-spacing: -1px; line-height: 1;">Marty </h4><h4 style="color: #ff9900; font-size: 30pt; font-size: 50px; font-weight: bold; letter-spacing: -1px; line-height: 1; padding-left: 10px"> McFly</h4>
    </div>
    
    <div class="list card">
  <div style="padding: 20px" class="item item-image">
    <h4 style="color: rgba(0,63,136,0.2); font-size: 20pt; font-weight: bold; letter-spacing: -1px; line-height: 1;padding-bottom: 10px">Summary </h4>
    <canvas style="width:100%" id="doughnutChart"></canvas>
  </div>
</div>



    <br></br>
    <div class="row"  style="margin: 0; padding: 0;">
      <div class="col" style="margin: 0;">
        <div class="card" style="background-color: #1789D4; text-align: center; margin: 0;">
          <h4 style="text-align: center;"><strong>Protein</strong></h3>
          <p style="text-align: center; margin: 0;">{{stats[0]}}</p>
        </div>
      </div>
      <div class="col" style="margin: 0;">
        <div class="card" style="background-color: #CB4B16; text-align: center; margin: 0;">
          <h4 style="text-align: center;"><strong>Calories</strong></h3>
          <p style="text-align: center; margin: 0;">{{stats[1]}}</p>
        </div>
      </div>
    </div>
    <div class="row" style="margin: 0; padding: 0;">
      <div class="col" style="margin: 0;">
        <div class="card" style="background-color: #1F8261; text-align: center; margin: 0;">
          <h4 style="text-align: center;"><strong>Carbohydrates</strong></h3>
          <p style="text-align: center; margin: 0;">{{stats[2]}}</p>
        </div>
      </div>
      <div class="col" style="margin: 0;">
        <div class="card" style="background-color: #FFA500; text-align: center; margin: 0;">
          <h4 style="text-align: center;"><strong>Fat</strong></h3>
          <p style="text-align: center; margin: 0;">{{stats[3]}}</p>
        </div>
      </div>
    </div>
    <br></br>
    <footer style="padding: 20px">
      <div class="row">
        <div class="col" style="text-align:center;">
          <button class="button button-outline button-positive" ui-sref="store.carryovers" style=" width: 100%;">
            Store
          </button>
        </div>
        <div class="col" style="text-align:center;">
          <button class="button button-outline button-positive" ui-sref="fridge.stats" style=" width: 100%;">
            Fridge
          </button>
        </div>
      </div>
    </footer>
  </ion-content>
</ion-view>
