<ion-view view-title="Recipes" name="recipe-view">
  <ion-header-bar>
    <div style="width: 100%; height: 100%; text-align: center;" ui-sref="profile">
      <img src="./img/Gobble_banner.png" style="height: 100%;">
      </img>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
    <h3 style="text-align:center; color: rgb(241,119,0); font-size: 20pt; font-weight: bold">RECIPE LIST</h3>
    <h4 style="text-align:center; color: rgba(0,63,136,0.8); font-weight: bold">What can I make?</h4>

    <div class="card">
      <div class="row">
        <!-- <img class="about-us__img--developer-profile-pic" src="http://lorempixel.com/400/200/food"/> -->
        <!-- <img style="height: auto; width: 200px;" src="http://images.media-allrecipes.com/userphotos/720x405/1024225.jpg" alt="Beet and Greens" /> -->
        <div class="item item-text-wrap">
          <h3>Beetroot and Greens</h3>
          <p>
            Roasted beet pieces nestled among their sauteed greens makes a beautiful, delicious side dish. If yellow beets are available, double the recipe using a bunch of red and a bunch of yellow -- gorgeous! My brother spent 50 years hating beets, but he loves them prepared this way. I think these go especially well with pork or chicken. This recipe can easily be doubled, tripled, or expanded to whatever amount you need without adding very much to the preparation time.
          </p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="row">
        <!-- <img class="about-us__img--developer-profile-pic" src="http://lorempixel.com/400/200/food"/> -->
        <!-- <img style="height: auto; width: 200px; overflow: hidden;" src="http://images.media-allrecipes.com/userphotos/250x250/470894.jpg" alt="Beet and Greens" /> -->
        <div class="item item-text-wrap">
          <h3>Quinoa with Asian Flavors</h3>
          <p>
            Quinoa is the ultimate super food. Cook it like rice in a rice cooker or on the stove with chicken broth, soy sauce, green onions, ginger, and garlic, and you have a delicious and healthy side dish. It goes great with chicken, fish, and seafood.
          </p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="row">
        <!-- <img class="about-us__img--developer-profile-pic" src="http://lorempixel.com/400/200/food"/> -->
        <!-- <img style="height: auto;   width: 200px; overflow: hidden;" src="http://images.media-allrecipes.com/userphotos/720x405/3458112.jpg" alt="Beet and Greens" /> -->
        <div class="item item-text-wrap">
          <h3>Greek Zoodle Salad</h3>
          <p>
            Zoodles (zucchini noodles) are all the rage and I keep looking for new ways to prepare them. I decided to combine my love of Greek salad with the zoodles and came up with this recipe. A great alternative to high-carb pasta salads!
          </p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="row">
        <!-- <img class="about-us__img--developer-profile-pic" src="http://lorempixel.com/400/200/food"/> -->
        <!-- <img style="height: auto; width: 300px; overflow: hidden;" src="http://images.media-allrecipes.com/userphotos/720x405/35820.jpg" alt="Beet and Greens" /> -->
        <div class="item item-text-wrap">
          <h3>Stir Fried Kale</h3>
          <p>
            A great way to use up some of the extra kale you might have in your garden! You can use other similar greens in this recipe - spinach, mustard greens, and arugula will all work. A mixture of greens is also quite good. Serve as a salad, as a side dish, or as a main dish with rice.
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
