  /*------------------------------------*\
      $ABOUT-US STYLES
  \*------------------------------------*/

  .about-us__img--developer-profile-pic {
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
      }
