<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Statistics Tab -->
  <ion-tab title="Statistics" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href='#/fridge/stats'>
    <ion-nav-view name="fridge-stats"></ion-nav-view>
  </ion-tab>

  <!-- Fridge List Tab -->
  <ion-tab title="My Fridge" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href='#/fridge/fridgeList'>
    <ion-nav-view name="fridge-fridgeList"></ion-nav-view>
  </ion-tab>

  <!-- Future Eatings Tab -->
  <ion-tab title="Future" icon-off="ion-ios-clock-outline" icon-on="ion-ios-clock" href='#/fridge/recommendations'>
    <ion-nav-view name="fridge-recommendations"></ion-nav-view>
  </ion-tab>

  <!-- Recipes Tab -->
  <ion-tab title="Recipes" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href='#/fridge/recipeList'>
    <ion-nav-view name="fridge-recipeList"></ion-nav-view>
  </ion-tab>

</ion-tabs>
