<ion-view view-title="FridgeList" name="fridgeList-view">
  <ion-header-bar>
    <div style="width: 100%; height: 100%; text-align: center;" ui-sref="profile">
      <img src="./img/Gobble_banner.png" style="height: 100%;">
      </img>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
        <h3 style="text-align:center; color: rgb(241,119,0); font-size: 20pt; font-weight: bold">FRIDGE LIST</h3>
        <h4 style="text-align:center; color: rgba(0,63,136,0.8); font-weight: bold">What's in the fridge?</h4>

        <div style="padding-top:20px">
          <div class="item item-divider">
    Expired Foods
  </div>
            <ion-list>
                <ion-item ng-repeat="item in OldFood | limitTo:2" can-swipe="listCanSwipe" swipe-direction="both">
                    {{item}}
                    <ion-option-button class="button-info" ng-click="remove(item)" side="right">
                        Remove
                    </ion-option-button>
                </ion-item>
            </ion-list>
        </div>

        <div style="padding-top:20px">
          <div class="item item-divider">
    Fresh Foods
  </div>
            <ion-list>
                <ion-item ng-repeat="item in list" can-swipe="listCanSwipe" swipe-direction="both">
                    {{item}}
                    <ion-option-button class="button-info" ng-click="remove(item)" side="right">
                        Remove
                    </ion-option-button>
                </ion-item>
            </ion-list>
        </div>

    </ion-content>
</ion-view>
