<ion-view view-title="preferences" name="preferences-view">
  <ion-content class="padding">

<div class="login">
  <div style="text-align: center">
    <br>
    <img src="../../img/ionic.png" alt=""/>
  </div>
  <br>

  <div class="list">
    <label class="item item-input">
      <input type="text" placeholder="First Name">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Last Name">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Email">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Password">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Re-Enter Password">
    </label>
    <div class="" style="text-align: center">
      <br>
      <button class="button button-outline button-positive" ui-sref="profile">
        Signup
      </button>
    </div>
    <div class="" style="text-align: center">
      <br>
      <a ui-sref="login">I already have an account</a>
    </div>
  </div>
</div>

</ion-content>
</ion-view>
