<ion-view view-title="Statistics" name="statistics-view">
  <ion-header-bar>
    <div style="width: 100%; height: 100%; text-align: center;" ui-sref="profile">
      <img src="./img/Gobble_banner.png" style="height: 100%;">
      </img>
    </div>
  </ion-header-bar>
    <ion-content class="padding">
      <h3 style="text-align:center; color: rgb(241,119,0); font-size: 20pt; font-weight: bold">MY STATISTICS</h3>
      <h4 style="text-align:center; color: rgba(0,63,136,0.8); font-weight: bold">How well am I eating?</h4>

        <div class="card">
            <div class="item item-text-wrap">
              <h5 style="text-align:center; color: rgba(241,119,0,0.6); font-size: 20pt; font-weight: bold">FRIDGE HEALTH SUMMARY</h5>

                <p style="padding-top:20px;padding-bottom:20px; ">
                    I am never gonna see a merman, ever. If every vampire who said he was at the crucifixion actually was there, it would've been like Woodstock. We need to save Buffy from Hansel and Gretel.
                </p>
                <canvas style="width:100%" id="radarChart"></canvas>
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
              <h5 style="text-align:center; color: rgba(241,119,0,0.6); font-size: 20pt; font-weight: bold">CALORIE CONSUMPTION</h5>

                <p style="padding-top:20px;padding-bottom:20px; ">
                  Everybody started singing and dancing. Anyone in this much pain prays, or at least curses. Occasionally, I'm callous and strange. You could, uh, could have, like, a world without shrimp, or with, you know, nothing but shrimp.
                </p>
                <canvas style="width:100%" id="consumptionOverTimeCanvas"></canvas>
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
              <h5 style="text-align:center; color: rgba(241,119,0,0.6); font-size: 20pt; font-weight: bold">CONSUMPTION CATEGORIES</h5>


                <p style="padding-top:20px;padding-bottom:20px; ">
                  Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.

                </p>
                <canvas style="width:100%" id="healthScoreCanvas"></canvas>
            </div>
        </div>
    </ion-content>
</ion-view>
