<ion-content class="padding">
  <div style="text-align: center;">
    <div class="home__icon">
      <img src="./img/Gobble_logo.png" alt=""/>
    </div>

    <h2 class="home__subtitle">Stay healthy with Gobble</h2>

    <p style="text-align:center">
      Use Gobble with Vitality to track your eating lifestyle.
    </p>

    <br>

    <div style="text-align: center">
      <button ui-sref="login" class="button button-outline button-positive">
        Login
      </button>
    </div>

    <br>

    <p style="text-align:center">
      I'm new here, <a ui-sref="signup">Register</a>
    </p>
  </div>
</ion-content>
