  /*------------------------------------*\
      $HOMEPAGE STYLES
  \*------------------------------------*/

  .home__icon {
      text-align: center;
      }

  .home__title {
      text-align: center;
      }

  .home__subtitle {
      text-align: center;
      }
