<header>
  <label class="item item-input">
    <input type="text" placeholder="Search">

    <button class="button button-positive icon ion-ios-search">
    </button>
  </label>
</header>

<ion-list>
  <ion-item ng-repeat="item in data" can-swipe="listCanSwipe" swipe-direction="both">
    <input type="checkbox" ng-model="item.checked">
    {{item.name}}
  </ion-item>
</ion-list>

<!--Button footer bar-->
<ion-footer-bar style="text-align: center;">
  <button ng-click="done()" class="button button-outline button-positive" style="width: 50%; margin: auto;">
    Done
  </button>
</ion-footer-bar>
