<ion-view view-title="Recipe" name="login-view">
    <ion-content class="padding">
        <h3>Recipe</h3>

        <div class="card">
            <div class="item item-text-wrap">
                <img style="height:100px; weight: 100px " src="http://lorempixel.com/400/200/food"/>
                <p>
                    Marzipan topping I love chocolate cake cake I love danish jelly-o tart. Cake icing gummi bears sesame snaps powder gummies I love. Chupa chups I love pastry lemon drops dessert chocolate. Dragée sugar plum powder bonbon
                </p>

            </div>
        </div>

        <ul class="list">
            <li ui-sref="fridge-item" class="item">
                Indgredient Item 1
            </li>
            <li ui-sref="fridge-item" class="item">
                Indgredient Item 2
            </li>
            <li ui-sref="fridge-item" class="item">
                Indgredient Item 3
            </li>
            <li ui-sref="fridge-item" class="item">
                Indgredient Item 4
            </li>
            <li ui-sref="fridge-item" class="item">
                Indgredient Item 5
            </li>
        </ul>

    </ion-content>
</ion-view>
