/*------------------------------------*\
    $CUSTOM COMPONENTS IMPORTS              (This is the global file which encapsulates all the component styles that we will make)
\*------------------------------------*/

/*
Gobble app.js

Awesome! You've found yourself in our styles section of the app. This is where we declare the CSS or rather (SCSS) for our different views
so what happens here? Well we have to create custom styles and adjustment to the ones that we are given by angular and ionic, you can take a
peep at these template styles here:

* www/lib/ionic/scss/ionic

- there are quite a few and they are handy but we wont be using all of them. So what we have here is our own little sandbox to add our own styles
as well as mix in the template styles.
- Take a look also i've created folders here in out own custom world and the requirements for some of the views and they just need to be fleshed out.

So when you need to style a particular view this is what to do:

1. Create a directory with the name of the component that you wanna style (eg. Login, About-Us etc)
2. In that directory, create the subfolders for the various views as necessary - this is al dependant on the actual view tbh
3. Create a style-sheet for that view (_<view-name>.scss) (*note the underscore) and create your styles. But just before you go ahead and do that....
4. Make an import file called !_all.scss to sit at the bottom of your component folder
5. Import your stylesheet into the _!all.scsss
6. Finally import your _!all.scss into the file www/lib/ionic/scss/custom/components/_!all.scss.

#Note that at minimum you should have at least ONE style sheet for your component and the _!all.scss in your component folder. Hope that all makes sense!

Adios!

Sach

--------------------------------------------
CUSTOM STYLESHEET FOLDER STRUCTURE

www
  - lib
    - ionic
      - scss
        - custom
          - components
            - <component name>                <<- Create this directory
              - _<stylesheet1.scss>           <<- Create your stylesheet(s)
              - _<stylesheet2.scss>
              - .
              - .
              - .
              - _!all.scss                    <<- Create this _!all.scss file and import all the stylesheets above THEN...
            _!all.scss                        <<- Import YOUR _!all.scss file into THIS _!all.scss file.


Then youre ready to go!

END: CUSTOM STYLESHEET FOLDER STRUCTURE
--------------------------------------------
*/

/*---File Imports---*/


/*---Folder Imports---*/

@import "components/!all";
