<ion-view view-title="preferences" name="preferences-view">
  <ion-content class="padding">

    <header>
      <div class="row">
        <div class="col" style="text-align:left;">
          <button class="button button-outline button-positive" ui-sref="profile" style="width: 100%;">
            Back
          </button>
        </div>
        <div class="col" style="text-align:right;">
          <button class="button button-outline button-positive" ui-sref="" style="width: 100%;">
            Edit Image
          </button>
        </div>
      </div>
    </header>

    <h3>Preferences</h3>

    <ol class="list">
      <li class="item item-toggle">
         Halaal
         <label class="toggle toggle-assertive">
           <input type="checkbox" ng-checked={{isHalaal}}>
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>

      <li class="item item-toggle">
         Cosher
         <label class="toggle toggle-assertive">
           <input type="checkbox" ng-checked={{isCosher}}>
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>

      <li class="item item-toggle">
         Vegetarian
         <label class="toggle toggle-assertive">
           <input type="checkbox" ng-checked={{isVegetarian}}>
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>

      <li class="item item-toggle">
         Vegan
         <label class="toggle toggle-assertive">
           <input type="checkbox" ng-checked={{isVegan}}>
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>

      <li class="item item-toggle">
         Pescatarian
         <label class="toggle toggle-assertive">
           <input type="checkbox" ng-checked={{isPescatarian}}>
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>

      <li class="item item-toggle">
         Diabetic
         <label class="toggle toggle-assertive">
           <input type="checkbox" ng-checked={{isDiabetic}}>
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
    </ol>

    <h3>Allergies</h3>
    <div class="row">
      <div class="col">
        <ion-list>

          <ion-checkbox ng-model="filter.nuts" ng-checked={{isNuts}}>Nuts</ion-checkbox>
          <ion-checkbox ng-model="filter.lactose" ng-checked={{isLactose}}>Lactose</ion-checkbox>
          <ion-checkbox ng-model="filter.eggs" ng-checked={{isEggs}}>Eggs</ion-checkbox>

        </ion-list>
      </div>
      <div class="col">
        <ion-list>

          <ion-checkbox ng-model="filter.shellfish" ng-checked={{isShellfish}}>Shellfish</ion-checkbox>
          <ion-checkbox ng-model="filter.gluten" ng-checked={{isGluten}}>Gluten</ion-checkbox>
          <ion-checkbox ng-model="filter.soy" ng-checked={{isSoy}}>Soy</ion-checkbox>

        </ion-list>
      </div>
    </div>

    <div class="row">
      <div class="col" style="text-align:left; padding:5px;">
        <button class="button button-outline button-positive" ui-sref="profile">
          Cancel
        </button>
      </div>
      <div class="col" style="text-align:right; padding:5px;">
        <button class="button button-outline button-positive" ui-sref="">
          Update
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
